<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>frp内网穿透教程</title>
    <meta name="keywords" content="frp内网穿透，frp github，frp文件，frpc配置教程，frps下载，比ngrok更好用的内网穿透软件"/>
    <meta name="description" content="本网提供frp内网穿透教程，frp内网穿透程序下载，frp配置文件，免费frp服务器。"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootswatch/3.3.1/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">frp NAT</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Frp内网穿透教程</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页<span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ url_for('manage.Common') }}">Common</a></li>
                    <li><a href="{{ url_for('manage.TCP') }}">TCP</a></li>
                    <li><a href="{{ url_for('manage.UDP') }}">UDP</a></li>
                    <li><a href="{{ url_for('manage.HTTP') }}">HTTP</a></li>
                    <li><a href="{{ url_for('manage.HTTPS') }}">HTTPS</a></li>
                    <li><a href="{{ url_for('manage.Psocket') }}">PluginUnixSocket</a></li>
                    <li><a href="{{ url_for('manage.Phttp') }}">PluginHttp</a></li>
                    <li><a href="{{ url_for('manage.stcp') }}">stcp</a></li>
                    <li><a href="{{ url_for('manage.stcpvistor') }}">stcpVistor</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="row clearfix">
        <div class="col-md-3 column"></div>
        <div class="col-md-6 column">
            <div class="jumbotron">
                {% block conntent %}{% endblock %}
            </div>
            <br>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h6>Copyright &copy;IoTServ</h6>
                </div>

                <div class="col-sm-4">
                    <h6>关于我们</h6>
                    <p>
                        IoTServ.com
                    </p>
                </div>

                <div class="col-sm-2">
                    <h6>导航</h6>
                    <ul class="unstyled">
                        <li><a href="">主页</a></li>
                        <li><a href="">服务</a></li>
                        <li><a href="">链接</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h6>Follow us</h6>
                    <ul class="unstyled">
                        <li><a href="">微博</a></li>
                        <li><a href="">微信</a></li>
                        <li><a href="">来往</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h6>本网站由<span class="glyphicon glyphicon-heart"></span>Farry制作</h6>
                </div>
            </div>
        </div>
    </footer>

    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
