<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>frp内网穿透教程-frp配置服务器</title>
    <meta name="keywords" content="frp内网穿透，frp github，frp文件，frpc配置教程，frps下载，比ngrok更好用的内网穿透软件"/>
    <meta name="description" content="本网提供frp内网穿透教程，frp内网穿透程序下载，frp配置文件，免费frp服务器，frpc在线配置网站。"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootswatch/3.3.1/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">frp NAT</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Frp内网穿透教程</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页<span class="sr-only">(current)</span></a></li>
                    <li><a href="/FrpGithub.html">frp github地址</a></li>
                    <li><a href="/FreeFrpServer.html">免费frp服务器</a></li>
                    <li><a href="/FrpcConfig.html">frpc配置教程</a></li>
                    <li><a href="/NAT-Download.html">内网穿透软件下载</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('manage.index') }}">frpcGUI在线配置</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">使用QQ快捷登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="row clearfix">
        <div class="col-md-3 column"></div>
        <div class="col-md-6 column">
            <div class="jumbotron">
                <h2>
                    Frp内网穿透软件简介：
                </h2>
                <p>
                    frp 是一个可用于内网穿透的高性能的反向代理应用，支持 tcp, udp, http, https 协议。
                </p>
            </div>
            <div class="jumbotron">
                <h3>Frp 的作用:</h3>
                <p>1.利用处于内网或防火墙后的机器，对外网环境提供 http 或 https 服务。</p>
                <p>2.对于 http, https 服务支持基于域名的虚拟主机，支持自定义域名绑定，使多个域名可以共用一个80端口。</p>
                <p>3.利用处于内网或防火墙后的机器，对外网环境提供 tcp 和 udp 服务，例如在家里通过 ssh 访问处于公司内网环境内的主机。</p>
            </div>
            <div class="jumbotron">
                <h3>Frp 的开发状态:</h3>
                <p>1.frp 仍然处于前期开发阶段，未经充分测试与验证，不推荐用于生产环境。。</p>
                <p>2.master 分支用于发布稳定版本，dev 分支用于开发，您可以尝试下载最新的 release 版本进行测试。</p>
                <b>3.目前的交互协议可能随时改变，不保证向后兼容，升级新版本时需要注意公告说明同时升级服务端和客户端。。</b>
            </div>
            <div class="jumbotron">
                <h3>Frp 的基本架构:</h3>
                <img src="{{ url_for('static',filename='images/architecture.png') }}">
            </div>
            <br>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h6>Copyright &copy;<a href="http://www.iotserv.com/">IoTServ</a></h6> <!-- 版权信息请保留 -->
                </div>

                <div class="col-sm-4">
                    <h6>关于我们</h6>
                    <p>
                        IoTServ.com
                    </p>
                </div>

                <div class="col-sm-2">
                    <h6>导航</h6>
                    <ul class="unstyled">
                        <li><a href="">主页</a></li>
                        <li><a href="">服务</a></li>
                        <li><a href="">链接</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h6>Follow us</h6>
                    <ul class="unstyled">
                        <li><a href="">微博</a></li>
                        <li><a href="">微信</a></li>
                        <li><a href="">来往</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h6>本网站由<span class="glyphicon glyphicon-heart"></span>Farry制作</h6><!-- 制作信息请保留，可以新增 -->
                </div>
            </div>
        </div>
    </footer>

    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
